body {
    background-color: #f5efe3;
}

.content {
    max-width: 1210px;
    margin-left:auto;
    margin-right:auto;
}

table {
    border-collapse: collapse;
}

td.element {
    border: 1px solid black;
}

table td {
    position: relative;
    text-align: center;
    width: 4vw;
    height: 4.5vw;
}

table td .number {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 0.8vw;
}

table td .atomic-mass {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.8vw;
}

table td .letter {
    font-weight: bold;
    font-size: 2vw;
}

table tr.spacer {
    height: 4.5vw;
}

h1 {
    font-size: 3vw;
    text-align: center;
    margin-bottom: 100px;
    font-family: Georgia,sans-serif;
    text-decoration: underline;
}

h1 img {
    width: 16vw;
    border-radius: 25px;
    margin-left: 30px;
    margin-bottom: -20px;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: #ff471a;
}

.cyan {
    background-color: #00FFFF;
}

.aquamarine {
    background: #7FFFD4;
}

.orange {
    background-color: orange;
}

.gray {
    background-color: #a6a6a6;
}

.pink {
    background-color: pink;
}

.white {
    background: white;
}

.green {
    background-color: #ADFF2F;
}

.purple {
    background-color: #e580ff;
}